
# === Backend Build ===
src/dist/

# === Frontend Build ===
public/css/output.css
public/js/
services/web-application-firewall/html/

# === Node Modules ===
node_modules/

# === Database ===
pong.db*
database/pong.db*
services/live-chat/database/livechat.db*
services/live-chat/database/pongChat.db*

# === Bootstrap Artifacts / Secrets ===
services/vault/certs/*.key
services/vault/certs/*-key.pem
services/vault/certs/*-key.pkcs8
keys.json
*.done

# === Docker Volumes ===
vault1_data/
vault2_data/
vault3_data/
vault1_logs/
vault2_logs/
vault3_logs/
./database/*

# === CERTIFICATES and Credentials ===
server.crt
server.key
ca.crt
approle/
client.crt
client.key

# === nix-shell Setup ===
.direnv/
.envrc


# === ai model ===
global_ai_model.json*
services/ai-opponent/src/hybrid_ai_system.ts
