services:
  web-application-firewall:
    build:
      context: ./services/web-application-firewall
      dockerfile: Dockerfile
      args: 
        MODSEC_VERSION: ${MODSEC_VERSION:-3.0.8} 
        NGINX_VERSION: ${NGINX_VERSION:-1.22.1} 
        LMDB_VERSION: ${LMDB_VERSION:-0.9.29}
    ports:
      - "8080:80"          # WAF wird auf Host‑Port 8080 verfügbar
      - "8443:8443"         # HTTPS Port für WAF

    depends_on:
      - api-gateway
    volumes:
      - ./services/web-application-firewall/configs/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./services/web-application-firewall/modsecurity.d:/etc/modsecurity.d:ro
      - ./services/web-application-firewall/html:/usr/share/nginx/html:ro
      - ./services/web-application-firewall/certs/server.crt:/etc/nginx/conf/server.crt:ro
      - ./services/web-application-firewall/certs/server.key:/etc/nginx/conf/server.key:ro
    networks:
      - api-network
    restart: always

  api-gateway:
    build: 
      context: .
      dockerfile: services/api-gateway/Dockerfile
          # Gate­way wird auf Host‑Port 3000 verfügbar
    depends_on:
      - auth-user-service
      - game-service
    environment:
      NODE_ENV: production
      LOG_LEVEL: ${LOG_LEVEL:-info} # Fallback 'info'
      GAME_SERVICE_UPSTREAM: http://game-service:3001
      AUTH_USER_SERVICE_UPSTREAM: http://auth-user-service:3002
    networks:
      - api-network
    volumes:
      - ./public:/app/public
    restart: always

  game-service:
    build: ./services/game-service
    environment:
      NODE_ENV: production
      LOG_LEVEL: ${LOG_LEVEL:-info}
      JWT_SECRET: ${JWT_SECRET}
    volumes:
      - ./database:/app/database
    networks:
      - api-network
    restart: always
  
  auth-user-service:
    build: ./services/auth-user-service
    environment:
      NODE_ENV: production
      LOG_LEVEL: ${LOG_LEVEL:-info}
      JWT_SECRET: ${JWT_SECRET}
    networks:
      - api-network
    restart: always
    volumes:
      - ./database:/app/database

networks:
  api-network:
    driver: bridge

volumes:
  database:
    driver: local