services:
  api-gateway:
    build: 
      context: .
      dockerfile: services/api-gateway/Dockerfile
    ports:
      - "3000:3000"          # Gate­way wird auf Host‑Port 3000 verfügbar
    depends_on:
      - backend
    environment:
      NODE_ENV: production
      GATEWAY_UPSTREAM: http://backend:3001

    networks:
      - api-network
    volumes:
      - ./public:/app/public‚
    restart: always

  backend:
    build: ./services/backend
    # kein 'ports:' hier, Backend nur im Docker‑Netzwerk
    environment:
      NODE_ENV: production
      JWT_SECRET: ${JWT_SECRET}
    volumes:
      - ./database:/app/database
    networks:
      - api-network
    restart: always

networks:
  api-network:
    driver: bridge

