@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CustomFont';
  src: url('../imgs/fonts/custom-font.woff2') format('woff2');
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-dark text-gray-100 font-sans antialiased;
  }
  h1,
  h2,
  h3 {
    @apply font-bold tracking-tighter;
  }
}

@layer components {
  .btn-primary {
    @apply px-4 py-2 rounded-lg bg-blue-600 hover:bg-blue-700 transition-colors;
  }

  .auth-input {
    @apply w-full px-4 py-3 bg-gray-800 rounded-lg border border-gray-700 
           focus:outline-none focus:ring-2 focus:ring-blue-500;
  }

  .btn-neon {
    @apply w-full py-3 font-bold rounded-lg transition-all duration-300;

    &-pink {
      @apply bg-pink-600 text-black;
      box-shadow: 0 0 10px rgba(244, 114, 182, 0.8);

      &:hover {
        @apply bg-cyan-500;
        box-shadow: 0 0 10px rgba(34, 211, 238, 0.8);
      }
    }
  }
}

@layer utilities {
  .neon-text-blue {
    @apply text-cyan-400;
    text-shadow: 0 0 5px rgba(34, 211, 238, 0.7);
  }
  .neon-text-pink {
    @apply text-pink-400;
    text-shadow: 0 0 5px rgba(244, 114, 182, 0.7);
  }
  .neon-text-yellow {
    @apply text-yellow-300;
    text-shadow: 0 0 5px rgba(253, 224, 71, 0.7);
  }

  .neon-border-blue {
    @apply border-cyan-400;
    box-shadow: 0 0 10px rgba(34, 211, 238, 0.7);
  }
  .neon-border-pink {
    @apply border-pink-400;
    box-shadow: 0 0 10px rgba(244, 114, 182, 0.7);
  }
  .neon-border-yellow {
    @apply border-yellow-300;
    box-shadow: 0 0 10px rgba(253, 224, 71, 0.7);
  }

  .neon-bg-pink {
    @apply bg-pink-600;
    box-shadow: 0 0 10px rgba(244, 114, 182, 0.8);
  }
  .neon-bg-blue {
    @apply bg-cyan-500;
    box-shadow: 0 0 10px rgba(34, 211, 238, 0.8);
  }
  .neon-bg-green {
    @apply bg-green-500;
    box-shadow: 0 0 10px rgba(74, 222, 128, 0.8);
  }
  .neon-bg-purple {
    @apply bg-purple-500;
    box-shadow: 0 0 10px rgba(168, 85, 247, 0.8);
  }
  .neon-bg-orange {
    @apply bg-orange-500;
    box-shadow: 0 0 10px rgba(249, 115, 22, 0.8);
  }

  .neon-bg-red {
    @apply bg-red-500;
    box-shadow: 0 0 10px rgba(239, 68, 68, 0.8);
  }

  .neon-bg-yellow {
    @apply bg-yellow-400;
    box-shadow: 0 0 10px rgba(250, 204, 21, 0.8);
  }
  .hover\:neon-bg-blue:hover {
    @apply neon-bg-blue;
  }
  .hover\:neon-bg-pink:hover {
    @apply neon-bg-pink;
  }

  .animate-pulse-slow {
    animation: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
